body{
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    margin: 0px;
    padding:0px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,103,1) 0%, rgba(0,212,255,1) 100%);
    
}
h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;

}
header{
    height: 100px;
}
nav{
    width: 100%;
    background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,103,1) 0%, rgba(0,212,255,1) 100%);
}
nav ul{
    margin: 0px;
    padding:0px;
}
nav li{
    list-style-type: none;
    float: left;

}
nav a{
    display: inline-block;
    text-decoration: none;
    padding:20px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size:  15px; ;
}
.table{
    display: table;
    margin: auto;
}
.menu-ind:hover{
    border-top: 5px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.15);
}
.menu-con:hover{
    border-top: 5px solid rgb(0, 94, 138);
    background-color: rgba(0, 0, 0, 0.15);
}
section{
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px;

}
.sec{
    margin: 0px 10%;
}
.div1{
    float: left;
    width: 100%;
    text-align: center;
    display: table;
    font-size: 20px;
}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

